# Virtual environment
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs/temp
*.log
*.pid
*.dump
*.pot
*.tmp

# Environment variables
.env
.env.local
.env.dev
.env.prod

# Тest Data
.coverage
htmlcov/
.pytest_cache/

# Alembic
/alembic/versions/*

# Dist
dist/
build/
*.egg-info/
*.whl

# MacOS
.DS_Store
